<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>AIS Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>AIS Management</h2>
				<br /> <br />
				<div class="row">
					<form action="" class="form-horizontal" role="form">
						<div class="form-group form-group-sm">
							<label class="col-md-offset-2 col-md-2 control-label">Status</label>
							<div th:if="${isRunning}" class="col-md-1">
								<span class="form-control" style="color: green;">Running</span>
							</div>
							<div th:if="${!isRunning}" class="col-md-1">
								<span class="form-control" style="color: red;">Stopped</span>
							</div>
						</div>
						<div class="form-group form-group-sm">
							<label class="col-md-offset-2 col-md-2 control-label">Action</label>
							<div th:if="${isRunning}" class="col-md-1">
								<a id="link-ais-stop" href="#" class="btn btn-block btn-danger"><span
									class="fa fa-fw fa-2 fa-stop"></span> Stop</a>
							</div>
							<div th:if="${!isRunning}" class="col-md-1">
								<a id="link-ais-start" href="#"
									class="btn btn-block btn-success"><span
									class="fa fa-fw fa-2 fa-play"></span> Start</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="hidden">
		<form id="form-ais-stop" method="post" th:action="@{/admin/ais/stop}"></form>
		<form id="form-ais-start" method="post"
			th:action="@{/admin/ais/start}"></form>
	</div>
	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/admin/ais/status.js}"></script>
</body>
</html>