<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{#{url.jquery.ui.css}}" />
<link rel="stylesheet" th:href="@{/resources/css/app.css}" />
<link rel="stylesheet" th:href="@{/resources/css/index.css}" />
<script type="text/javascript" th:src="@{#{url.modernizr.js}}"></script>
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container-fluid">
		<div class="row">
			<div id="section-map" class="col-xs-12"
				style="padding-left: 0px; padding-right: 0px;">
				<div id="map-canvas" style="background-color: white"></div>
			</div>
		</div>
	</div>
	<div style="display: none;">
		<a id="link-coordinates" href="coordinates" th:href="@{/coordinates}">None</a>
		<a id="link-shorelines" href="shorelines" th:href="@{/shorelines}">None</a>
		<a id="link-geofences" href="geofences" th:href="@{/geofences}">None</a>
	</div>
	<div class="hidden">
		<div id="section-settings" title="Settings">
			<form action="#" role="form">
				<div class="checkbox">
					<label><input id="checkbox-shoreline" type="checkbox" /><span>Show
							Shoreline</span></label>
				</div>
				<div class="checkbox">
					<label><input id="checkbox-geofence" type="checkbox"
						checked="checked" /><span>Show Geofence</span></label>
				</div>
				<div class="checkbox">
					<label><input id="checkbox-all-vessel" type="checkbox" /><span>Show
							All Vessels</span></label>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{#{url.google.map.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.ui.js}}"></script>
	<script type="text/javascript" th:src="@{/resources/js/index.js}"></script>
</body>
</html>