<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Playback</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{#{url.jquery.ui.css}}" />
<link rel="stylesheet" th:href="@{/resources/css/colorpicker.css}" />
<link rel="stylesheet" th:href="@{/resources/css/playback.css}" />
<script type="text/javascript" th:src="@{#{url.modernizr.js}}"></script>
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-md-9 col-lg-9"
				style="padding-left: 0px; padding-right: 0px;">
				<div id="map-canvas" style="background-color: white"></div>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3"
				style="background-color: grey">
				<form id="form-plot" action="#" th:action="@{/playback-plot}">
					<div id="container-menu" class="container-fluid">
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<label>Vessel : </label>
							</div>
						</div>
						<div id="row-date-from" class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<label>Date From: <input id="from-date"
									style="width: 100px" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<label>Time From:</label> <select id="from-hour">
									<option>12</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
								</select><select id="from-minute">
									<option>00</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
									<option>09</option>
									<option>00</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
									<option>19</option>
									<option>20</option>
									<option>21</option>
									<option>22</option>
									<option>23</option>
									<option>24</option>
									<option>25</option>
									<option>26</option>
									<option>27</option>
									<option>28</option>
									<option>29</option>
									<option>30</option>
									<option>31</option>
									<option>32</option>
									<option>33</option>
									<option>34</option>
									<option>35</option>
									<option>36</option>
									<option>37</option>
									<option>38</option>
									<option>39</option>
									<option>40</option>
									<option>41</option>
									<option>42</option>
									<option>43</option>
									<option>44</option>
									<option>45</option>
									<option>46</option>
									<option>47</option>
									<option>48</option>
									<option>49</option>
									<option>50</option>
									<option>51</option>
									<option>52</option>
									<option>53</option>
									<option>54</option>
									<option>55</option>
									<option>56</option>
									<option>57</option>
									<option>58</option>
									<option>59</option>
								</select><select id="from-am-pm"><option>AM</option>
									<option>PM</option></select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<label>Date To: <input id="to-date" style="width: 100px" />
								</label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<label>Time To:</label> <select id="to-hour">
									<option>12</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
								</select><select id="to-minute">
									<option>00</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
									<option>09</option>
									<option>00</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
									<option>04</option>
									<option>05</option>
									<option>06</option>
									<option>07</option>
									<option>08</option>
									<option>09</option>
									<option>10</option>
									<option>11</option>
									<option>12</option>
									<option>13</option>
									<option>14</option>
									<option>15</option>
									<option>16</option>
									<option>17</option>
									<option>18</option>
									<option>19</option>
									<option>20</option>
									<option>21</option>
									<option>22</option>
									<option>23</option>
									<option>24</option>
									<option>25</option>
									<option>26</option>
									<option>27</option>
									<option>28</option>
									<option>29</option>
									<option>30</option>
									<option>31</option>
									<option>32</option>
									<option>33</option>
									<option>34</option>
									<option>35</option>
									<option>36</option>
									<option>37</option>
									<option>38</option>
									<option>39</option>
									<option>40</option>
									<option>41</option>
									<option>42</option>
									<option>43</option>
									<option>44</option>
									<option>45</option>
									<option>46</option>
									<option>47</option>
									<option>48</option>
									<option>49</option>
									<option>50</option>
									<option>51</option>
									<option>52</option>
									<option>53</option>
									<option>54</option>
									<option>55</option>
									<option>56</option>
									<option>57</option>
									<option>58</option>
									<option>59</option>
								</select><select id="to-am-pm"><option>AM</option>
									<option>PM</option></select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<label>Delay:</label><select id="delay">
									<option value="0">0</option>
									<option value="100">1</option>
									<option value="200">2</option>
									<option value="300">3</option>
									<option value="400">4</option>
									<option value="500">5</option>
									<option value="600">6</option>
									<option value="700">7</option>
									<option value="800">8</option>
									<option value="900">9</option>
									<option value="1000">10</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<div class="checkbox">
									<label><input id="checkbox-geofence" type="checkbox"
										checked="checked" /><span>Show Geofence</span></label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<input id="button-plot" type="button" value="Plot" /><input
									id="button-clearplot" type="button" value="Clear Plot" />
							</div>
						</div>
						<div class="row" style="display: none;">
							<div class="col-sm-12 col-md-12 col-lg-12">
								<input id="from" name="from" type="hidden" />
							</div>
							<div class="col-sm-12 col-md-12 col-lg-12">
								<input id="to" name="to" type="hidden" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<form action="#" style="display: none;">
		<div id="input-template" style="display: none;">
			<div class="row row-select-ship-name top-buffer">
				<div class="column-color-picker col-sm-1"
					style="padding-left: 0px; padding-right: 0px; left: -5px; position: relative">
					<input class="cpButton" type="hidden" value="#ff0000" />
				</div>
				<div class="col-sm-11" style="padding-left: 5px; padding-right: 0px">
					<select name="mmsi"></select><a class="action-remove-ship-row"
						href="#"><span class="fa fa-fw fa-minus"
						style="display: none;"></span></a><span
						class="dofm-playback-add-remove-spacer fa fa-fw"></span> <a
						class="action-insert-ship-row" href="#"><span
						class="fa fa-fw fa-plus"></span></a>

				</div>
			</div>
		</div>
	</form>


	<div style="display: none;">
		<a id="link-coordinates" href="coordinates" th:href="@{/coordinates}">None</a>
		<a id="link-shorelines" href="shorelines" th:href="@{/shorelines}">None</a>
		<a id="link-geofences" href="geofences" th:href="@{/geofences}">None</a>
		<a id="link-list-ship-name" href="list-ship-name"
			th:href="@{/list-ship-name}">None</a>
	</div>
	<script type="text/javascript" th:src="@{#{url.google.map.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.ui.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jqueryform.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.hogan.js}}"></script>
	<script type="text/javascript" th:src="@{/resources/js/colorpicker.js}"></script>
	<script type="text/javascript" th:src="@{/resources/js/playback.js}"></script>
</body>
</html>