<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>Edit local ship</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{/resources/css/app.css}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<h2>Edit local ship</h2>
				<ol class="breadcrumb">
					<li><a href="#" th:href="@{/admin/localship/list}">List of
							local ship</a></li>
					<li class="active">Edit local ship</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<form id="form" method="post" th:object="${form}"
					th:action="@{/admin/localship/update}" class="form-horizontal"
					role="form">
					<div class="form-group form-group-sm">
						<label for="mmsi" class="col-sm-4 control-label">MMSI</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" th:field="*{mmsi}"
								readonly="readonly" />
						</div>
						<label for="state" class="col-sm-4 control-label">State</label>
						<div class="col-sm-8">
							<select th:field="*{state}"
								class="form-control parent-child-select-parent parent-child-select-parent-edit">
								<option class="form-control" value="">-</option>
								<option class="form-control" th:each="stateItem : ${listState}"
									th:value="${stateItem.name}" th:text="${stateItem.name}">stateName</option>
							</select>
						</div>
						<label for="area" class="col-sm-4 control-label">Area</label>
						<div class="col-sm-8">
							<select th:field="*{area}"
								class="form-control parent-child-select-child-state">
								<option class="form-control parent-child-select-option-template"
									value="">-</option>
								<option class="form-control parent-child-select-option-added"
									th:each="areaItem : ${listArea}" th:value="${areaItem}"
									th:text="${areaItem}">stateName</option>
							</select>
						</div>
						<label for="area" class="col-sm-4 control-label">Owner</label>
						<div class="col-sm-8">
							<select th:field="*{ownerId}" class="form-control">
								<option class="form-control" value="">-</option>
								<option class="form-control" th:each="owner : ${listOwner}"
									th:value="${owner.username}"
									th:text="${owner.fullName + ' (' + owner.username + ')'}">ownerId</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-4">
							<button type="submit" class="btn btn-primary btn-block">Update</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" th:if="${error != null}">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<p class="bg-danger">
					Error: <span th:text="${error}"></span>
				</p>
			</div>
		</div>
	</div>
	<div class="hidden">
		<form id="form-parent-child-select-state" action="#"
			th:action="@{/list/list-area}" class="">
			<input type="hidden" class="parameter-key" name="key" value="" />
		</form>
	</div>

	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jqueryform.js}}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/select-parent-child.js}"></script>
</body>
</html>