<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>Local Ship Management</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.datatables.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.jquery.ui.css}}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>List of ships</h2>
				<ol class="breadcrumb">
					<li class="active">List of ships</li>
					<li><a href="#" th:href="@{/admin/localship/add}"
						th:text="${'Add new ship'}"></a></li>
				</ol>
				<table id="table"
					class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>MMSI</th>
							<th>Owner ID</th>
							<th>State</th>
							<th>Area</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${list}" th:id="${'table-row-' + item.mmsi}">
							<td><a class="link-change"
								th:href="@{/admin/localship/edit(id=${item.mmsi})}" href="#"><span
									class="item-label" th:text="${item.mmsi}">MMSI</span><span
									class="id hidden" th:text="${item.mmsi}">ID</span></a></td>
							<td><span th:text="${item.ownerId}">Owner ID</span></td>
							<td><span class="state" th:text="${item.state}">State</span></td>
							<td><span class="area" th:text="${item.area}">Area</span></td>
							<td><a href="#" class="link-remove">Remove</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="hidden">
		<div th:replace="layout/list :: dialog-delete"></div>
		<a id="link-action-delete" th:href="@{/admin/localship/remove}">Delete</a>
	</div>

	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.ui.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.datatables.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jqueryform.js}}"></script>
	<script type="text/javascript" th:src="@{/resources/js/list.js}"></script>
</body>
</html>