<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>List of areas</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.jquery.ui.css}}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>List of areas</h2>
				<ol class="breadcrumb">
					<li><a href="#" th:href="@{/admin/state/list}">List of
							state</a></li>
					<li class="active">List of area in <span
						th:text="${state.name}"></span></li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-3 col-md-6">
				<form class="form-horizontal" role="form" method="post">
					<div class="form-group">
						<label for="stateName" class="col-md-3 control-label">State</label>
						<div class="col-md-6">
							<input type="text" class="form-control" id="stateName"
								readonly="readonly" th:value="${state.name}" />
						</div>
					</div>
					<div class="form-group">
						<label for="region" class="col-md-3 control-label">Add
							Area</label>
						<div class="col-md-6">
							<div class="input-group">
								<input id="area-name" type="text" class="form-control" /><span
									class="input-group-btn"><button id="button-add"
										class="btn btn-primary" type="button">
										<span class="fa fa-fw fa-plus"></span> Add
									</button> </span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="region" class="col-md-3 control-label"
							th:text="${'List Area'}">label</label>
						<div class="col-md-6">
							<select id="list-area" name="areas" multiple="multiple" size="5"
								class="form-control">
								<option th:each="region : ${state.regions}" th:value="${region}"
									th:text="${region}">Wireframe</option>
							</select>
							<button id="button-delete" class="btn btn-primary btn-block"
								type="button">
								<span class="fa fa-fw fa-minus"></span> Delete
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="hidden">
		<form id="form-area" th:action="@{/admin/area/set}"
			th:object="${state}" method="post">
			<input type="hidden" th:field="*{name}" />
			<div id="form-area-list">
				<select name="areas" multiple="multiple" size="5"
					class="form-control">
					<option th:each="region : ${state.regions}" th:value="${region}"
						th:text="${region}" selected="selected">Wireframe</option>
				</select>
			</div>
		</form>
		<form action="#">
			<select id="template-select-option"><option></option></select>
		</form>
	</div>

	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.ui.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jqueryform.js}}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/admin/area/area.js}"></script>
</body>
</html>