<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>Menu</title>
</head>
<body>
	<div class="container-fluid" id="dofm-menu-bar" th:fragment="menu">
		<!-- Menu Section -->
		<ul class="nav nav-pills">
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"><i
					class="fa fa-2 fa-fw fa-random"></i> Navigation<span class="caret"></span>
			</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#" th:href="@{/}"><i
							class="fa fa-2 fa-fw fa-globe"></i> Map</a></li>
					<li><a href="#" th:href="@{/playback}"><i
							class="fa fa-2 fa-fw fa-play"></i> Route Playback</a></li>

					<!-- Profile -->
					<li class="divider"></li>
					<li><a th:href="@{/user/profile}" href="#"><i
							class="fa fa-2 fa-fw fa-user"></i> Profile</a></li>

					<!-- admin user management-->
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
						class="divider"></li>
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a
						th:href="@{/admin/usermanagement/list}" href="#"><i
							class="fa fa-2 fa-fw fa-users"></i> User Management</a></li>

					<!-- admin ais management -->
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
						class="divider"></li>
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a
						th:href="@{/admin/ais/status}" href="#"><i
							class="fa fa-2 fa-fw fa-dashboard"></i> AIS Management</a></li>

					<!-- admin state management -->
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
						class="divider"></li>
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a
						th:href="@{/admin/state/list}" href="#"><i
							class="fa fa-2 fa-fw fa-flag"></i> State Management</a></li>

					<!-- admin local ship management -->
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
						class="divider"></li>
					<li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><a
						th:href="@{/admin/localship/list}" href="#"><i
							class="fa fa-2 fa-fw fa-anchor"></i> Ship Management</a></li>

					<!-- logout -->
					<li class="divider"></li>
					<li><a th:href="@{/logout}" href="#"><i
							class="fa fa-2 fa-fw fa-sign-out"></i> Logout</a></li>

				</ul></li>
			<li><a id="link-settings" href="#"><i
					class="fa fa-2 fa-fw fa-wrench"></i> Settings</a></li>
		</ul>
	</div>
</body>
</html>