<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org/layout">
<head>
<meta charset="UTF-8" />
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">DOFM
	Admin</title>
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport' />
<link th:href="@{#{url.bootstrap.css}}"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
	rel="stylesheet" />
<link th:href="@{#{url.fontawesome.css}}"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link th:href="@{#{url.ionicons.css}}"
	href="//cdn.jsdelivr.net/ionicons/1.4.1/css/ionicons.min.css"
	rel="stylesheet" />
<link th:href="@{/resources/adminlte/css/AdminLTE.css}" rel="stylesheet"
	type="text/css" />
<!-- Theme style -->
</head>

<body class="skin-blue">
	<header class="header">
		<a th:href="@{/}" href="index.html" class="logo">DOFM</a>
		<nav class="navbar navbar-static-top" role="navigation">
			<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas"
				role="button"> <span class="sr-only">Toggle navigation</span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
			</a>
			<div class="navbar-right"></div>
		</nav>
	</header>
	<div class="wrapper row-offcanvas row-offcanvas-left">
		<aside class="left-side sidebar-offcanvas">
			<section class="sidebar">

				<ul class="sidebar-menu">
					<li><a th:href="@{/admin/usermanagement/index}" href="#">
							<i class="fa fa-dashboard"></i><span>User Management</span>
					</a></li>
				</ul>
				<ul class="sidebar-menu">
					<li><a th:href="@{/admin/ais/status}" href="#"> <i
							class="fa fa-dashboard"></i><span>TCP connection to AIS</span>
					</a></li>
				</ul>
			</section>
		</aside>
		<aside class="right-side">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>User Management</h1>
			</section>
			<section class="content">
				<div layout:fragment="content"></div>
			</section>
		</aside>
	</div>
	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript"
		th:src="@{/resources/adminlte/js/app.js}"></script>
</body>
</html>
