<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>Add User</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{/resources/css/app.css}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<h2>Add new user</h2>
				<ol class="breadcrumb">
					<li><a href="#" th:href="@{/admin/usermanagement/list}">List
							of users</a></li>
					<li class="active">Add new user</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<form id="form" method="post"
					th:action="@{/admin/usermanagement/save}" action=""
					class="form-horizontal" role="form">
					<div class="form-group form-group-sm">
						<label for="username" class="col-sm-4 control-label">Username</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="username"
								id="username" />
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label for="name" class="col-sm-4 control-label">Name</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="name" id="name" />
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label for="password" class="col-sm-4 control-label">Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control" name="password"
								id="password" />
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label for="confirmPassword" class="col-sm-4 control-label">Confirm
							Password</label>
						<div class="col-sm-8">
							<input type="password" class="form-control"
								name="confirmPassword" id="confirmPassword" />
						</div>
					</div>
					<div class="form-group form-group-sm">
						<label for="role" class="col-sm-4 control-label">Role</label>
						<div class="col-sm-8">
							<select name="role" class="form-control">
								<option>ROLE_ADMIN</option>
								<option>ROLE_DOFM</option>
								<option>ROLE_STATE</option>
								<option>ROLE_REGION</option>
								<option selected="selected">ROLE_OWNER</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-4">
							<button type="submit" class="btn btn-primary btn-block">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" th:if="${error != null}">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<p class="bg-danger">
					Error: <span th:text="${error}"></span>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/admin/usermanagement/add.js}"></script>

</body>
</html>