<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>Home</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.datatables.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.jquery.ui.css}}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>List of users</h2>
				<ol class="breadcrumb">
					<li class="active">List of users</li>
					<li><a href="#" th:href="@{/admin/usermanagement/add}">Add
							new user</a></li>
				</ol>
				<table id="table"
					class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Role</th>
							<th>Password</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${list}">
							<td><span class="item-label id" th:text="${item.username}">ID</span></td>
							<td><a class="name"
								th:href="@{/admin/usermanagement/edit(id=${item.username})}"
								href="#"><span th:text="${item.fullName}">Name</span></a></td>
							<td><span th:text="${item.role}"></span></td>
							<td><a href="#" class="link-change-password">Change</a></td>
							<td><a href="#" class="link-remove">Remove</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div id="section-dialog" class="hidden">
		<div th:replace="layout/list :: dialog-delete"></div>
		<a id="link-action-delete" th:href="@{/admin/usermanagement/remove}">Delete</a>

		<div id="dialog-roles" title="User roles">
			<!-- TODO roles -->
			<div>
				Username: <span id="roles-username"></span>
			</div>
		</div>
		<div id="dialog-change-password" title="Change Password"
			class="container-fluid">
			<!-- TODO roles -->
			<div class="row">
				<div class="col-xs-12">
					<form id="form-change-password" role="form"
						th:action="@{/admin/usermanagement/change-password}" method="post">
						<div class="form-group">
							<label for="username">ID</label><input type="text"
								class="form-control" name="username" readonly="readonly"
								id="form-change-password-username" />
						</div>
						<div class="form-group">
							<label for="username">Name</label><input type="text"
								class="form-control" readonly="readonly"
								id="form-change-password-name" />
						</div>
						<div class="form-group">
							<label for="username">Password</label><input
								id="form-change-password-password" type="password"
								class="form-control" name="password" />
						</div>
						<div class="form-group">
							<label for="username">Confirm Password</label><input
								id="form-change-password-password-confirm" type="password"
								class="form-control" name="confirmPassword" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.ui.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.datatables.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jqueryform.js}}"></script>
	<script type="text/javascript" th:src="@{/resources/js/list.js}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/admin/usermanagement/list.js}"></script>
</body>
</html>