<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>Add State Region</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{/resources/css/app.css}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<h2>Add new state</h2>
				<ol class="breadcrumb">
					<li><a href="#" th:href="@{/admin/state/list}">List of
							state</a></li>
					<li class="active">Add new state</li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<form id="form" method="post" th:action="@{/admin/state/save}"
					action="" class="form-horizontal" role="form">
					<div class="form-group form-group-sm">
						<label for="state" class="col-sm-4 control-label">State</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" name="name" id="name" />
						</div>
					</div>
					<div class="form-group form-group-sm"></div>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-4">
							<button type="submit" class="btn btn-primary btn-block">Save</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" th:if="${error != null}">
			<div class="col-xs-12 col-sm-8 col-sm-offset-1">
				<p class="bg-danger">
					Error: <span th:text="${error}"></span>
				</p>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript"
		th:src="@{/resources/js/admin/usermanagement/add.js}"></script>

</body>
</html>