<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security">
<head>
<title>List of states</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{#{url.datatables.css}}" />
<link rel="stylesheet" th:href="@{#{url.fontawesome.css}}" />
<link rel="stylesheet" th:href="@{#{url.bootstrap.css}}" />
<link rel="stylesheet" th:href="@{#{url.jquery.ui.css}}" />
</head>
<body>
	<div th:replace="admin/menu/menu :: menu"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>List of states</h2>
				<ol class="breadcrumb">
					<li class="active">List of state</li>
					<li><a href="#" th:href="@{/admin/state/add}">Add new
							state</a></li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<table id="table"
					class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>State</th>
							<th>Area</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${list}">
							<td><span class="item-label id" th:text="${item.name}">State</span></td>
							<td><a th:href="@{/admin/area/list(name=${item.name})}"
								href="#"><span>View</span></a></td>
							<td><a href="#" class="link-remove">Remove</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="hidden">
		<div th:replace="layout/list :: dialog-delete"></div>
		<a id="link-action-delete" th:href="@{/admin/state/remove}">Delete</a>
	</div>

	<script type="text/javascript" th:src="@{#{url.jquery.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.bootstrap.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jquery.ui.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.datatables.js}}"></script>
	<script type="text/javascript" th:src="@{#{url.jqueryform.js}}"></script>
	<script type="text/javascript" th:src="@{/resources/js/list.js}"></script>
</body>
</html>